<md-toolbar color="primary" style="height: 80px;">
    <button md-icon-button (click)="start.toggle()"><md-icon>menu</md-icon></button>
    <span class="flex">{{title}}</span>
    <span *ngIf="isUserRegistered()">
        <span>Logged in as : {{_userService.user.username}}</span>
        <span><button md-icon-button type="button" (click)="logout()"><md-icon>exit_to_app</md-icon></button></span>
    </span>
    <user-login *ngIf="!isUserRegistered()"></user-login>
</md-toolbar>
<md-sidenav-layout>
    <p>{{diagnostic()}}</p>
    <user-form style="width: 96%"></user-form>
    <md-sidenav #start align="start">
        <md-toolbar>
            Start Sidenav
        </md-toolbar>
        <md-list>
            <md-list-item><a [routerLink]="['/dashboard']">Dashboard</a></md-list-item>
            <md-list-item><a [routerLink]="['/todo']">Todo</a></md-list-item>
        </md-list>
    </md-sidenav>
    <router-outlet ></router-outlet>
</md-sidenav-layout>
