<md-card>
    <md-card-title>
        <span class="flex">Registration</span>
        <span>
            <small>
                {{registrationProgress()}} % completed
            </small>
        </span>
        <md-progress-bar mode="determinate<" [value]="registrationProgress()"></md-progress-bar>
    </md-card-title>

    <md-card-content>
        <form #f="ngForm">
            <div [ngSwitch]="registrationStep">
                <div *ngSwitchCase="0">
                First of all, if you want to be able to chat with someone, choose a nickname.
                My awesome nickname will be
                    <md-input   required
                                minlength="4"
                                type="text"
                                [(ngModel)]="tmpUser.username"
                                placeholder="Nickname"
                                #username="ngModel"
                                name="username"
                                ngControl="username"
                                (keyup.enter)="goToNextStep()"
                                style="width: 180px;">
                        <md-hint align="end">{{tmpUser.username.length}} / 4 characters minimum</md-hint>
                    </md-input>
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!username.valid || username.pristine">
                        <span *ngIf="_userService.registrationStatus == 0">Connect !</span>
                        <span *ngIf="_userService.registrationStatus > 0">Update !</span>
                    </button>
                </div>
                <div *ngSwitchCase="1">
                    Good to see you <b>{{_userService.user.username}}</b> !! You are now able to chat with other people !
                    <br>You can give more infos about you to increase your popularity :
                    " I am a
                    <md-radio-group required
                                    placeholder="Gender"
                                    [(ngModel)]="tmpUser.gender"
                                    (keyup.enter)="description.focus()"
                                    style="width: 100px;"
                                    #gender="ngModel"
                                    ngControl="gender"
                                    name="gender">
                        <md-radio-button *ngFor="let g of genders" [value]="g.key" style="margin-left: 5px;">{{g.value}}</md-radio-button>
                    </md-radio-group>
                    of
                    <md-input   required
                                type="number"
                                [(ngModel)]="tmpUser.age"
                                placeholder="Age"
                                (keyup.enter)="gender.focus()"
                                #age="ngModel"
                                ngControl="age"
                                name="age"
                                style="width: 50px;">
                    </md-input>
                    years old. "
                    <br>
                    " To shortly describe myself, I could say that I am
                    <md-input   type="text"
                                [(ngModel)]="tmpUser.description"
                                placeholder="Description"
                                #description="ngModel"
                                ngControl="description"
                                name="description"
                                style="width: 450px;">
                    </md-input> ! "
                    <button md-raised-button
                            type="button"
                            (click)="goToNextStep()"
                            [disabled]="!age.valid || !gender.valid || (gender.pristine && age.pristine && description.pristine)">
                        Tell people who I am !
                    </button>
                </div>
                <div *ngSwitchCase="2">
                    Great ! Your profile looks sexier now, for sure ! If you want to keep your nickname and your statistics
                    (number of likes, number of people met, ...), feel free to register !
                    <br>
                    <md-input   required
                                type="email"
                                [(ngModel)]="tmpUser.email"
                                placeholder="Email"
                                (keyup.enter)="password.focus()"
                                #email="ngModel"
                                ngControl="email"
                                name="email"
                                style="width: 180px;margin-right: 5px;">
                    </md-input>
                    <md-input   required
                                minlength="4"
                                type="password"
                                [(ngModel)]="tmpUser.password"
                                placeholder="Password"
                                (keyup.enter)="goToNextStep()"
                                #password="ngModel"
                                ngControl="password"
                                name="password"
                                style="width: 180px;">
                    </md-input>
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!email.valid || !password.valid || (password.pristine && email.pristine)">Register !</button>
                </div>
                <div *ngSwitchCase="3" class="user-registered">
                    <div class="content">
                        Congratulations <b>{{_userService.user.username}}</b> !
                        You are now a member of our incredible community !
                        ENJOY !
                    </div>
                    <div class="actions">
                        <button md-raised-button (click)="editUser(0)">Edit Username</button>
                        <button md-raised-button (click)="editUser(1)">Edit Profile</button>
                        <button md-raised-button (click)="editUser(2)">Edit Email/Password</button>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    OOPS ! It seems that something gone wrong ! (Unknown USER STATE)
                </div>
            </div>
        </form>
    </md-card-content>
    <md-card-actions *ngIf="_userService.registrationStatus < 3">
        <button md-raised-button (click)="registrationStepBackward()" [disabled]="registrationStep == 0">Step back</button>
        <button md-raised-button (click)="registrationStepForward()" [disabled]="registrationStep >= _userService.registrationStatus">Step forward</button>
    </md-card-actions>
    <md-card-actions *ngIf="_userService.registrationStatus == 3 && registrationStep != _userService.registrationStatus">
        <button md-raised-button (click)="editUser(3)">Cancel</button>
    </md-card-actions>
</md-card>
