<md-card>
    <md-card-title>
        <span class="flex">Registration</span>
        <span>
            <small>
                {{registrationProgress()}} % completed
                <md-progress-bar mode="determinate<" [value]="registrationProgress()"></md-progress-bar>
            </small>
        </span>
    </md-card-title>
    <md-card-content>
        <form #f="ngForm">
            <div [ngSwitch]="registrationStep">
                <div *ngSwitchCase="0">
                First of all, if you want to be able to chat with someone, choose a nickname.
                My awesome nickname will be
                    <md-input   required
                                minlength="4"
                                type="text"
                                [(ngModel)]="_userService.user.Username"
                                placeholder="Nickname"
                                (keyup.enter)="goToNextStep()"
                                #username="ngForm"
                                style="width: 200px;"
                                [dividerColor]="getDividerColor(username)">
                        <md-hint align="end">{{username.value.length}} / 4 characters minimum</md-hint>
                    </md-input>
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!username.valid">OK !</button>
                    {{username.valid}}
                </div>
                <div *ngSwitchCase="1">
                    Good to see you {{user.Username}} !! You are now able to chat with other people !
                    You can give more infos about you to increase your popularity :
                    <md-input   required
                                type="text"
                                [(ngModel)]="_userService.user.Profile.Age"
                                placeholder="Age"
                                (keyup.enter)="gender.focus()"
                                #age="ngForm"
                                style="width: 50px;"
                                [dividerColor]="getDividerColor(age)">
                    </md-input>
                    <md-radio-group required
                                    [(ngModel)]="_userService.user.Profile.Gender"
                                    (keyup.enter)="description.focus()"
                                    #gender="ngForm">
                        <md-radio-button *ngFor="let g of genders" [value]="g">{{g}}</md-radio-button>
                    </md-radio-group>
                    <md-input   type="text"
                                [(ngModel)]="_userService.user.Profile.Description"
                                placeholder="Description"
                                (keyup.enter)="goToNextStep()"
                                #description="ngForm"
                                style="width: 250px;"
                                [dividerColor]="getDividerColor(description)">
                    </md-input>
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!username.valid">OK !</button>
                    {{username.valid}}
                </div>
            </div>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button (click)="registrationStepBackward()" [disabled]="registrationStep == 0">Step back</button>
        <button md-raised-button (click)="registrationStepForward()" [disabled]="registrationStep >= _userService.registrationStatus">Step forward</button>
    </md-card-actions>
</md-card>
