<md-card>
    <md-card-title>
        <span class="flex">Registration</span>
        <span>
            <small>
                {{registrationProgress()}} % completed
            </small>
        </span>
    </md-card-title>
    <md-progress-bar mode="determinate<" [value]="registrationProgress()"></md-progress-bar>
    <md-card-content style="padding-top: 10px;">
        <form #f="ngForm">
            <div [ngSwitch]="registrationStep">
                <div *ngSwitchCase="0">
                First of all, if you want to be able to chat with someone, choose a nickname.
                My awesome nickname will be
                    <md-input   required
                                minlength="4"
                                type="text"
                                [(ngModel)]="_userService.user.Username"
                                placeholder="Nickname"
                                (keyup.enter)="goToNextStep()"
                                #username="ngForm"
                                style="width: 180px;"
                                [dividerColor]="getDividerColor(username)">
                        <md-hint align="end">{{username.value.length}} / 4 characters minimum</md-hint>
                    </md-input>
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!username.valid">Connect !</button>
                </div>
                <div *ngSwitchCase="1">
                    Good to see you <b>{{_userService.user.Username}}</b> !! You are now able to chat with other people !
                    <br>You can give more infos about you to increase your popularity :
                    " I am a
                    <md-radio-group required
                                    placeholder="Gender"
                                    [(ngModel)]="_userService.user.Profile.Gender"
                                    (keyup.enter)="description.focus()"
                                    style="width: 100px;"
                                    #gender="ngForm">
                        <md-radio-button *ngFor="let g of genders" [value]="g.key" style="margin-left: 5px;">{{g.value}}</md-radio-button>
                    </md-radio-group>
                    of
                    <md-input   required
                                type="number"
                                [(ngModel)]="_userService.user.Profile.Age"
                                placeholder="Age"
                                (keyup.enter)="gender.focus()"
                                #age="ngForm"
                                style="width: 50px;"
                                [dividerColor]="getDividerColor(age)">
                    </md-input>
                    years old. "
                    <br>
                    " To shortly describe myself, I could say that I am
                    <md-input   type="textarea"
                                [(ngModel)]="_userService.user.Profile.Description"
                                placeholder="Description"
                                (keyup.enter)="goToNextStep()"
                                #description="ngForm"
                                style="width: 450px;"
                                [dividerColor]="getDividerColor(description)">
                    </md-input> ! "
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!age.valid || !gender.valid">Tell people who I am !</button>
                </div>
                <div *ngSwitchCase="2">
                    Great ! Your profile looks sexier now, for sure ! If you want to keep your nickname and your statistics
                    (number of likes, number of people met, ...), feel free to register !
                    <br>
                    <md-input   required
                                type="email"
                                [(ngModel)]="_userService.user.Email"
                                placeholder="Email"
                                (keyup.enter)="password.focus()"
                                #email="ngForm"
                                style="width: 180px;margin-right: 5px;"
                                [dividerColor]="getDividerColor(email)">
                    </md-input>
                    <md-input   required
                                minlength="4"
                                type="password"
                                [(ngModel)]="_userService.user.Password"
                                placeholder="Password"
                                (keyup.enter)="goToNextStep()"
                                #password="ngForm"
                                style="width: 180px;"
                                [dividerColor]="getDividerColor(password)">
                    </md-input>
                    <button md-raised-button type="button" (click)="goToNextStep()" [disabled]="!email.valid || !password.valid">Register !</button>
                </div>
                <div *ngSwitchCase="3">
                    Congratulations <b>{{_userService.user.Username}}</b> ! You are now a member of our incridible community !
                    ENJOY !
                </div>
                <div *ngSwitchDefault>
                    OOPS ! It seems that something gone wrong ! (Unknown USER STATE)
                </div>
            </div>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button (click)="registrationStepBackward()" [disabled]="registrationStep == 0">Step back</button>
        <button md-raised-button (click)="registrationStepForward()" [disabled]="registrationStep >= _userService.registrationStatus">Step forward</button>
    </md-card-actions>
</md-card>
