.md-card-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
md-card {
    min-width: 250px;
    max-width: 300px;
    margin: 10px;
    transition: position 0.5s ease-in-out;
}
