<md-card>
    <md-card-title>
        <span>All Users : </span>
    </md-card-title>
    <md-card-content>
        <div class="md-card-container">
            <md-card *ngIf="!_usersService.list">
                Users list is loading...
            </md-card>
            <md-card *ngIf="_usersService.list && _usersService.list.length == 0">
                No users to display
            </md-card>
            <md-card *ngFor="let user of _usersService.list">
                <md-card-title>{{user.Username}} <small *ngIf="user.Connected">online</small><small *ngIf="!user.Connected">offline</small></md-card-title>
                <md-card-content>
                    <p>" I am a <b>{{getGenderValue(user.Profile.Gender)}}</b> of <b>{{ user.Profile.Age }}</b> years old. "</p>
                    <br>
                    <p *ngIf="user.Profile.Description.length > 0">
                        " To shortly describe myself, I could say that I am <b>{{ user.Profile.Description }}</b> ! "
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button>Do Something</button>
                </md-card-actions>
            </md-card>
            <div style="clear: both;"></div>
        </div>
    </md-card-content>
</md-card>
