<md-card>
    <md-tab-group #tabs>
        <md-tab>
            <template md-tab-label>
                <span>All Users</span>
            </template>
            <template md-tab-content>
                <md-card-content>
                    <md-card color="primary" class="stats-container" *ngIf="_usersService">
                        <span>
                            <b>{{_usersService.sumConnected()}}</b> users connected :
                            <b>{{_usersService.connectedCount.registered}}</b> registered,
                            <b>{{_usersService.connectedCount.notRegistered}}</b> not registered,
                            <b>{{_usersService.connectedCount.anonymous}}</b> anonymous
                        </span>
                    </md-card>
                    <div class="md-card-container">
                        <md-card *ngIf="!_usersService.list">
                            Users list is loading...
                        </md-card>
                        <md-card *ngIf="_usersService.list && _usersService.list.length == 0">
                            No users to display
                        </md-card>
                        <md-card *ngFor="let user of _usersService.list">
                            <md-card-title>{{user.username}} <small *ngIf="user.connected">online</small><small *ngIf="!user.connected">offline</small></md-card-title>
                            <md-card-content>
                                <p>" I am a <b>{{getGenderValue(user.gender)}}</b> of <b>{{ user.age }}</b> years old. "</p>
                                <br>
                                <p *ngIf="user.description && user.description.length > 0">
                                    " To shortly describe myself, I could say that I am <b>{{ user.description }}</b> ! "
                                </p>
                            </md-card-content>
                            <md-card-actions>
                                <p>{{_usersService.getPeopleMet(user.id).length}} people met</p>
                                <button md-button [disabled]="!user.connected" (click)="_chatService.openChatWithUser(user)" *ngIf="user.username != _userService.user.username">Chat</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-card-content>
            </template>
        </md-tab>
        <md-tab *ngFor="let chat of _chatService.chats">
            <template md-tab-label>
                <div class="tab-close" (click)="_chatService.closeChat(chat.chat.id);tabs.selectedIndex = 0;">x</div>
                <span *ngFor="let user of chat.chat.users" class="flex">
                    <span *ngIf="user.username != _userService.user.username">{{ user.username }}</span>
                </span>
            </template>
            <template md-tab-content>
                <div class="chat-conv-container">
                    <div class="chat-conv-msg" *ngFor="let message of chat.chat.conversation">
                        <b>{{ message.user.username }}</b> : {{ message.msg }}
                    </div>
                </div>
                <form #f="ngForm">
                    <div class="chat-input">
                        <md-input   minlength="1"
                                    maxlength="200"
                                    type="text"
                                    placeholder="Write a message..."
                                    [(ngModel)]="chat.message.msg"
                                    #msg="ngModel"
                                    name="msg"
                                    ngControl="msg"
                                    style="width: 80%">
                            <md-hint align="end">{{chat.message.msg.length}} / 200 characters max</md-hint>
                        </md-input>
                        <button #send
                                md-button
                                [disabled]="chat.message.msg.length == 0"
                                (click)="_chatService.sendMessage(chat.message)"
                                style="width: 18%">Send</button>
                    </div>
                </form>
            </template>
        </md-tab>
    </md-tab-group>
</md-card>
