md-card {
    margin: 10px;
}
.md-card-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.md-card-container md-card {
    width: 250px;
    transition: position 0.5s ease-in-out;
}
