<md-card>
    <md-card-title>
        <span>All Users : </span>
    </md-card-title>
    <md-card-content>
        <div class="md-card-container">
            <md-card *ngIf="!_usersService.list">
                Users list is loading...
            </md-card>
            <md-card *ngIf="_usersService.list && _usersService.list.length == 0">
                No users to display
            </md-card>
            <md-card *ngFor="let user of _usersService.list">
                <md-card-title>{{user.Username}} <small *ngIf="user.Connected">online</small><small *ngIf="!user.Connected">offline</small></md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>Token : {{user.Token}}</md-list-item>
                        <md-list-item>Email : {{user.Email}}</md-list-item>
                        <md-list-item>Age : {{user.Profile.Age}}</md-list-item>
                        <md-list-item>Gender : {{user.Profile.Gender}}</md-list-item>
                        <md-list-item>Description : {{user.Profile.Description}}</md-list-item>
                    </md-list>
                </md-card-content>
                <md-card-actions>
                    <button md-button>Do Something</button>
                </md-card-actions>
            </md-card>
            <div style="clear: both;"></div>
        </div>
    </md-card-content>
</md-card>
